apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: observability-apps
  namespace: argo-cd
spec:
  project: default
  source:
    repoURL: git@github.com:kazu728/homelab.git
    targetRevision: HEAD
    path: k8s/argocd/observability
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
