apiVersion: v1
kind: Service
metadata:
  labels:
    app: sample
  name: sample
  namespace: default
spec:
  type: ClusterIP
  ports:
    - port: 80
      protocol: TCP
      targetPort: http
      name: http
  selector:
    app: sample
