apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: otel-collector
  namespace: argo-cd
spec:
  project: default
  source:
    repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
    chart: opentelemetry-collector
    targetRevision: 0.142.1
    helm:
      values: |-
        mode: daemonset

        image:
          repository: otel/opentelemetry-collector-contrib

        presets:
          logsCollection:
            enabled: true
            includeCollectorLogs: false
            storeCheckpoints: true
          kubernetesAttributes:
            enabled: true

        alternateConfig:
          exporters:
            otlphttp:
              endpoint: http://loki.observability.svc.cluster.local:3100/otlp
          processors:
            memory_limiter:
              check_interval: 5s
              limit_percentage: 80
              spike_limit_percentage: 25
            batch: {}
          extensions:
            health_check:
              endpoint: ${env:MY_POD_IP}:13133
          service:
            extensions:
              - health_check
            pipelines:
              logs:
                receivers: []
                processors:
                  - memory_limiter
                  - batch
                exporters:
                  - otlphttp

        ports:
          otlp:
            enabled: false
          otlp-http:
            enabled: false
          jaeger-compact:
            enabled: false
          jaeger-thrift:
            enabled: false
          jaeger-grpc:
            enabled: false
          zipkin:
            enabled: false
          metrics:
            enabled: false

        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
