apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: promtail
  namespace: argo-cd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: promtail
    targetRevision: 6.17.1
    helm:
      values: |-
        config:
          clients:
            - url: http://loki.observability.svc.cluster.local:3100/loki/api/v1/push
          snippets:
            extraScrapeConfigs: ""

        serviceMonitor:
          enabled: false

        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            memory: 128Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
